{% extends 'base.html' %}
{% block content %}
<h3>AÑADIR AVE</h3>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>Nombre Ave</p>
	{{ ave.nombre }}</br>
	<p>Descripcion</p>
	{{ ave.descripcion }}</br>
	<p>Alimentacion</p>
	{{ ave.alimentacion }}</br>
	<p>Habitat</p>
	{{ ave.habitat }}</br>
	<p>Localizacion</p>
	{{ ave.localizacion }}</br>
	<p>Fotos</p>
	{{ Imagenes }}
	{% for error in ave.errors %}
		<p style="color: blue">{{ error }}</p>
	{% endfor %}
		</p>
	<input type="submit" value="Añadir" />
</form>
{% endblock %}
