{% extends 'base.html' %}
{% block content %}
<table id="mostraraves">
<tr>
	<th>PK</th>
	<th>Nombre</th>
	<th>OPCIONES</th>
</tr>
{% for ave in object_list %}
{% csrf_token %}
<tr>
	<td>{{ ave.pk }}</td>
	<td><a href="{% url 'Mostrar_ave' nombre=ave.mostrar_nombre_con_espacios %}">{{ ave.nombre }}</a></td>
	<td>
	<a href="{% url 'Modificar_Ave' ave.pk %}"><button>Modificar</button></a>
	{% if user.is_staff %}
	<a href="{% url 'Eliminar_Ave' ave.pk %}"><button>Eliminar</button></a></td>
	{% endif %}
	<br/>
</tr>
{% empty %}
<h2 style="color:white">No se encuentra ningún ave agregada.</h2>
{% endfor %}
</table>
<br/>
<a id="añadirave" href="{% url 'CrearAve' %}"><button>Añadir una ave</button></a>
{% endblock %}
