{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<div id="ave">
	<h3 style="color:white;font-weight: bold;">NOMBRE: {{ Ave.nombre }} - {{ Ave.pk }}</h3>
	<h5>DESCRIPCIÓN</h5>
	<p>{{ Ave.descripcion }}</p>
	<h5>ALIMENTACIÓN</h5>
	<p>{{ Ave.alimentacion }}</p>
	<h5>HABITAT</h5>
	<p>{{ Ave.habitat }}</p>
	<h5>LOCALIZACIÓN</h5>
	<p>{{ Ave.localizacion }}</p>
	<h5>FOTOS</h5>
	<table>
		<tr>
	{% for Foto in Ave.fotos.all %}
		<td><a href="/media/{{ Foto }}"><img src="/media/{{ Foto }}" height="300"></a>
		<br/>
		{% if user.is_staff or Foto.usuario == user.usuario %}
		<a href="{% url 'Eliminar_Foto' pk=Foto.pk  %}"><button>Eliminar</button></a></td>
		{% endif %}
	{% endfor %}
		</tr>
	</table>
	<br/>
	<a href="{% url 'CrearFoto' nombre=Ave.mostrar_nombre_con_espacios %}"><button>Añadir nueva Foto</button></a>
		
<br/>
</div>
</table>
{% endblock %}
