{% extends 'base.html' %}
{% block content %}
<table id="mostraraves">
<tr>
	<th>PK</th>
	<th>Nombre</th>
	<th>OPCIONES</th>
</tr>
{% for ave in object_list %}
{% csrf_token %}
<tr>
	<td>{{ ave.pk }}</td>
	<td>{{ ave.nombre }}</td>
	<td><a href="{% url 'Mostrar_ave' nombre=ave.mostrar_nombre_con_espacios %}"><button>Ver</button></a>
	<a href="{% url 'Modificar_Ave' ave.pk %}"><button>Modificar</button></a>
	<a href="{% url 'Eliminar_Ave' ave.pk %}"><button>Eliminar</button></a></td>
	<br/>
</tr>
{% empty %}
<p>No se encuentra ningún ave agregada.</p>
{% endfor %}
</table>
<br/>
<a id="añadirave" href="{% url 'CrearAve' %}"><button>Añadir una ave</button></a>
{% endblock %}
